/*Отобр. тело веб-страницы*/

body {
  margin: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  max-width: 1440px;
  min-width: 320px;
}

.header {
  width: 100%;
  display: flex;
  background: linear-gradient(to right, #000 461px, #fff 461px); 
}

.header__logo {
  width: 98px;
  height: 37px;
  margin: 36px 0 0 52px;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  letter-spacing: .07em;
  color: #fff;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

.header__lang {
  display: flex;
  width: 31px;
  height: 25px;
  margin: 42px 0 0 238px;
  padding: 0;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: opacity .3s linear;
}

.header__lang::after {
  display: block;
  content: '';
  width: 7px;
  height: 7px;
  margin: 9px 0 0 9px;
  padding-left: 7px;
  border: 2px solid #fff;
  border-top: transparent;
  border-right: transparent;
  transform: rotate(-45deg);
  transition: opacity .3s linear;
}

.header__lang:hover,
.header__lang:hover::after {
  opacity: .8;
}

.header__lang:active,
.header__lang:active::after {
  opacity: .6;
}

.header__lang-ru {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}

.menu-button {
  width: 92px;
  height: 92px;
  background-color: #f2f2f2;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.header__menu-button {
  margin-left: auto;
}

.menu-button__line {
  display: block;
  margin: 0 auto 0 auto;
  width: 35px;
  height: 4px;
  background-color: #000;
}

.menu-button__line:first-child {
  margin-bottom: 6px;
}

/* Стили первой секции */

.collection {
    display: flex;
    flex-direction: column;
    height: 808px;
    background: linear-gradient(to right, #000 461px, #fff 461px);
}

.collection__card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 640px;
    margin: 38px 0 0 10px;
}

.collection__image {
    width: 549px;
    height: 562px;
    margin-left: 14px;
    background-image: url(./images/model.jpg);
    background-repeat: no-repeat;
    background-size: 155%;
    background-position-x: -135px;
    background-position-y: -185px;
}

.collection__info {
    position: relative;
    width: 490px;
    height: 400px;
    margin: auto 0 165px 50px;
}

.info-collection__title {
    width: 475px;
    margin: 66px 0 17px 4px;
    font-weight: bold;
    font-size: 80px;
    line-height: 82px;
}

.info-collection__description {
    width: 467px;
    margin: 0 0 38px 4px;
}

.info-collection__button {
    width: 203px;
    height: 44px;
    outline: 0;
    transition: background-color .3s linear;
}

.info-collection__link-other {
    position: absolute;
    margin: 13px 0 0 53px;
}

.info-collection__link-other::after {
    display: inline-block;
    position: relative;
    left: 19px;
    width: 43px;
    height: 10px;
    content: '';
    background-image: url(./images/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.collection__social {
    display: flex;
    position: relative;
    top: 46px;
    left: 52px;
    width: 153px;
    height: 43px;
    justify-content: space-between;
}

.social__item {
    text-decoration: none;
    transition: opacity .3s linear;
}

.social__item:hover {
    opacity: .8;
}

.social__item:active {
    opacity: .6;
}

.collection__scroll {
    position: relative;
    width: 27px;
    height: 46px;
    margin: 0 auto;
    top: 2px;
    background-image: url(./images/scroll-desktop.svg);
    background-repeat: no-repeat;
}


.description {
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  color: #000;
}

button {
  font-family : inherit;
}

.description__link {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.description__link:hover {
  text-decoration: underline;
}

.button {
  display: inline-block;
  border: 2px solid #000;
  font-weight: 500;
  font-size: 13px;
  color: #000;
  background-color: transparent;
  cursor: pointer;
  outline: 0;
  transition: background-color .3s linear;
}

.button:hover {
  background-color: #f1f1f1;
}

.button:active {
  background-color: #e0e0e0;
}

.link {
  display: inline-block;
  font-weight: 500;
  font-size: 13px;
  text-decoration: none;
  color: #000;
}

/* Стили второй секции */
.look {
  height: 900px;
  display: flex;
  flex-direction: column;
  background-color: #fae8e4;
}

.look__card {
  display: flex;
  justify-content: space-between;
}

.look__image-wrap {
  position: relative;
  margin-left: 137px;
  display: flex;
  align-items: center;
}

.look__image_grey {
  position: absolute;
  top: 217px;
  width: 398px;
  height: 415px;
}

.look__image_pink {
  position: absolute;
  top: 28px;
  left: 94px;
  widht: 582px;
  height: 844px;
}

.look__info {
  height: 556px;
  width: 488px;
  margin: 168px 73px 39px 0;
  background-color: #fff;
  box-shadow: 10px 20px 45px 0 rgba(0, 0, 0, 0.1);
}

.info-look__title {
  height: 41px;
  width: 340px;
  margin: 44px 0 15px 55px;
}

.info-look__subtitle {
  margin: 0 0 63px 55px;
}

.card-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 41px;
}

.card-subtitle {
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: .07em;
  opacity: .5;
}

.info-look__description {
  width: 368px;
  height: 148px;
  margin: 0 0 34px 55px;
  opacity: .5;
}

.info-look__color {
  display: inline-block;
  width: 190px;
  padding-top: 5px;
  margin: 14px 0 53px 55px;
}

.color__input {
  display: none;
}

.color__item_grey {
  background-color: #dedede;
}

.color__item_pink {
  background-color: #f29f9f;
}

.color__item_blue {
  background-color: #a8bff9;
}

.color__item_green {
  background-color: #90bd8f;
}
.color__item {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 12px;
  transition: transform .3s ease-in-out;
  cursor: pointer;
}

.color__input:checked + .color__item {
  transform: scale(1.3);
}

.info-look__price {
  display: inline-block;
  position: relative;
  bottom: 5px;
  margin-left: 40px;
  height: 40px;
  font-weight: bold;
  font-size: 40px;
  line-height: 56px;
}

.info-look__quantity {
  margin-left: 55px;
}

.info-look__button {
  width: 253px;
  height: 44px;
  margin-left: 12px;
  padding-right: 19px;
}

.look__link-other {
  margin: 0 79px 0 auto;
  white-space: nowrap;
}

.look__link-other::after {
  display: inline-block;
  margin-left: 17px;
  width: 241px;
  height: 10px;
  content: '';
  background-image: url(./images/product-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}


.quantity {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  width: 96px;
  height: 40px;
  font-weight: 500;
  font-size: 15px;
  line-height: 0px;
}

.quantity__decrease,
.quantity__increase {
  height: 40px;
  width: 39px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: 0;
  transition: background-color .3s linear;
}

.quantity__decrease:hover,
.quantity__increase:hover {
  background-color: #f3f3f3;
} 

.quantity__decrease:active,
.quantity__increase:active {
  background-color: #e0e0e0;
  color: #000;
}

.quantity__increase {
  padding-left: 5px;
}

.quantity__value {
  width: 20px;
  text-align: center;
}
/* Стили  третий секции */





@media (max-width: 1112px) {

  .collection {
    height: 753px;
  }
  .collection__image {
    width: 509px;
    height: 522px;
    background-position-y: -165px;
  }
  .collection__info {
    margin-left: 20px;
  }
  .info-collection__title {
    font-size: 70px;
    margin-left: 0;
  }
  .info-collection__link-other {
    margin-left: 23px;
  }
  .collection__social {
    top: 0;
  }
  .collection__scroll {
    height: 48px;
    top: -45px;
  }    
}

@media (max-width: 1023px) {
  .link {
    font-size: 9px;
  }

  .header {
    background: linear-gradient(to right, #000 301px, #fff 301px);
  }

  .header__lang {
    margin-left: 78px;
  }

  .collection {
    height: 543px;
    background: linear-gradient(to right, #000 301px, #fff 301px);
  }

  .collection__card {
    height: 400px;
  }

  .collection__image {
    width: 309px;
    height: 322px;
    margin-bottom: 45px;
    background-position-y: -105px;
    background-position-x: -75px;
  }

  .collection__info {
    width: 390px;
    height: 200px;
    margin-left: 15px;
  }

  .info-collection__title {
    font-size: 60px;
    line-height: 62px;
    margin: 0;
    width: min-content;
  }

  .info-collection__description {
    width: 340px;
    margin: 20px 0 25px 0;
    font-size: 10px;
    line-height: 15px;
  }

  .info-collection__button {
    width: 133px;
    height: 34px;
    font-size: 8px;
  }

  .collection__social {
    top: 30px;
  }

  .collection__scroll {
    top: -15px;
  }
}

@media (max-width: 766px) and (min-width: 585px) {
.collection__info {
position: relative;

}

.info-collection__title {
  text-align: center;
  position: relative;
  white-space: nowrap;
  letter-spacing: 0.39px;
  padding-top: 50px;
  left: 95px;
}
}

/*моб версия*/

@media (max-width: 767px) {
  .header {
    background: #fff;
    height: 69px;
  }

  .header__logo {
    margin: 14px 0 0 26px;
    color: #000;
  }

  .header__lang {
    display: none;
    }

  .header__menu-button {
    width: 69px;
    height: 69px;
  }

  .menu-button__line {
    width: 26px;
    height: 3px;
  }

  .menu-button__line:first-child {
    margin-bottom: 5px;
  }

  .collection {
    height: 100vh;
    background-image: url(./images/model.jpg);
    background-size: 767px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -100px;
    background-clip: content-box;
  }

  .collection__card {
    align-items: flex-end;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
  }

  .collection__info {
    width: 297px;
    height: 103px;
    margin: 0 0 20px 26px;
  }

  .info-collection__title {
    width: 297px; 
    height: 103px;
    margin: 0;
    font-size: 50px;
    line-height: 51px;
  }

  .info-collection__description, .info-collection__button,
  .info-collection__link-other, .collection__image, .collection__social {
    display: none;
  }

  .collection__scroll {
    top: 0;
    margin-bottom: 21px;
    width: 33px;
    height: 22px;
    background-image: url(./images/scroll-mob.svg);
  }   

}

@media (max-width: 425px) {
  .collection {
    max-width: 425px;
    height: 529px;
    background-size: 540px;
    background-position-x: -75px;
  }
  .collection__card {
    height: 529px;
  }
}

@media (max-width: 350px) {
  .collection {
    background-position-x: -98px;
  }

  .collection__info {
    margin-left: 10px;
  }
}

@media (max-width: 305px) {
  
  .info-collection__title {
    width: min-content;
    font-size: 43px;
    line-height: 44px;
  }
}

