* {
  box-sizing: border-box;
}

body {
  min-width: 375px;
  max-width: 1440px;
  margin: 0 auto;
  font-family: Montserrat, Arial, sans-serif;
  background-color: white;
  }

.main-page {
  background: linear-gradient(to right, black 32%, white 10%);
  padding-bottom: 27px;
}

.header { 
  align-items: center;
  display: flex;
  font-size: 0;
  height: 92px;
  width: 100%;
	font-family: Montserrat, sans-serif;
}


.header__left {
	display: flex;
	justify-content: space-between;
} 

.header__left-logo {
  position: relative;
	display: flex;
  width: 98px;
  height: 37px;
  margin-left: 52px;
  margin-top: 36px;
  cursor: pointer;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 0.07em;
  color: white;
}

.header__left-lang {	
	position: relative;
  display: flex;
  left: 240px;
  top: 36px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  color: white;  
  cursor: pointer;
}

.header__left-lang {
	height: 8px;
  margin: 10px;
}

.header-menu {
  background-color: #f2f2f2;
  cursor: pointer;
  height: 92px;
  margin-left: 1348px;
  position: absolute;
  top: 0;
  width: 92px;
}

.header-menu__line::before {
  content: '';
  transform: translateY(-11px);
}

.header-menu__line,
.header-menu__line::before {
  background: #000;
  display: block;
  height: 4px;
  left: 50%;
  margin-left: -18px;
  position: absolute;
  top: 53%;
  width: 36.5px;
}

/*Первый слой*/

.home {
  display: flex;
  padding-left: 186px;
  padding-right: 120px;
  padding-top: 77px;
  width: 100%;
}

.home__img-one {
	height: 562px;
  margin-bottom: 68px;
  margin-right: 55px;
}

.home__title {
	display: block;
	flex-direction: space-between;
  justify-content: center;
}

.home__title__header {
	display: flex;
  font-size: 80px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  line-height: 82px;
  margin-bottom: 17px;
  margin-top: 102px;
}

.home__title__text {
  display: flex;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  margin-bottom: 38px;
  margin-right: 64px;
}

.home__btn__one {
  background-color: #fff;
  border: 1.5px solid #000;
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  height: 44px;
  margin-right: 46px;
  text-transform: uppercase;
  transform: translateX(-3px);
  width: 203px;
}

.home__btn__two {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  display: inline-block;
  margin-right: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.home__btn__arrow {
  display: inline-block;
}


.home__social-icons {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  width: 37px;
}

.home__social-link {
	display: flex;
  align-items: start;
  height: 43px;
  margin-right: 12px;
  width: 43px;
}


@media (min-width: 1024px) and (max-width: 1280px) {
  * {
    box-sizing: border-box;
  }
