* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  max-width: 1440px;
  min-width: 320px;
} 

.main-page {
  background: linear-gradient(to right, black 32%, white 10%);
  padding-bottom: 27px;
}

.header {
	display: flex;
  align-items: center;
  font-size: 0;
  height: 92px;
  width: 100%;
	font-family: Montserrat, sans-serif;
}

.header__left {
	display: flex;
	justify-content: space-between;
} 

.header__left-logo {
  position: relative;
	display: flex;
  width: 98px;
  height: 37px;
  margin-left: 52px;
  margin-top: 36px;
  cursor: pointer;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 0.07em;
  color: white;
}

.header__left-lang {	
	position: relative;
  display: flex;
  left: 240px;
  top: 36px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  color: white;  
  cursor: pointer;
}

.header__left-lang {
	height: 25px;
  margin: 10px;
  width: 16px;
  
}

.header-menu {
  background-color: #f2f2f2;
  cursor: pointer;
  height: 92px;
  margin-left: 1348px;
  position: absolute;
  top: 0;
  width: 92px;
}

.header-menu__line::before {
  content: '';
  transform: translateY(-11px);
}

.header-menu__line,
.header-menu__line::before {
  background: #000;
  display: block;
  height: 4px;
  left: 50%;
  margin-left: -18px;
  position: absolute;
  top: 53%;
  width: 36.5px;
}

/* -------1------- */

.description {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 116px;
}

.description__image {
  width: 549px;
  height: 562px;
}

.home__lead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.home__lead__title {
  margin: 26px;
  font-family: Montserrat;
  font-style: bold;
  font-weight: bold;
  font-size: 80px;
  line-height: 82px;
  margin-left: 54px;
}

.home__lead__text {
  margin: 26px;
  width: 467px;
  height: 127px;
  border: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  margin-left: 54px;
}

.lead-nav {
  margin: 26px;
  display: flex;
  justify-content: space-between;
  margin-left: 51px;

}

.lead-nav__item {
  padding: 14px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  text-decoration: none;
  color: black;
  margin-right: 20px;
}

.lead-nav__img {
  padding: 0 0 0 14px;
}

.lead-nav__item--border {
  padding: 14px 41px 14px 41px;
  border: 1.5px solid #000000;
  box-sizing: border-box;
}

.adress {
  width: 51%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 41px;
}

.adress--left {
  margin-left: 40px;
  display: flex;
  justify-content: space-around;
}

.adress__item {
  padding: 6px;
}


.adress__item--mouse {
  position: relative;
  right: 19.5px;
  bottom: 35px;
  z-index: 1px;
}
























/*--------2-------------*/
.product{
  background: #fae8e4;
  width: 100%;






























